<p>Dear {client_name},</p><p>You can view your Headroom Tax invoice online:
    <a href="{invoice_view_url}" target="_blank">IN-{invoice_id}</a></p>
<p>You have already paid for this session and received a payment receipt from us. This invoice is provided for your records and, if applicable, for the purposes of your submission to the medical aid.</p>
<p>Are you anticipating more or recurring sessions with this Professional? Some Professionals offer reduced rates for packages of 5+ or 10+ sessions booked upfront. Please view your Professional’s offering to take advantage of potential savings.</p>
<p>If you have any queries, please contact admin@headroom.co.za.</p>